.accountContainer {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
  .myInfoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    table {
      th {
        font-weight: normal;
        border-bottom: 1px solid #E9E9E9;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.deleteAccBtn {
  background-color: #FDC825;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  padding-top: 3%;
  padding-bottom: 3%;
  border: none;
}

.ViewTermsOfUseContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  .title {
    margin-top: 5%;
  }
  .agreementContainer {
    .subtitle {
      font-weight: bold;
    }
    .p {
      margin-top: 3%;
    }
  }
}
