.myCasaContainer{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  .myCasaTitle {
    margin-left: 3%;
  }
  .showContainer {
    display: flex;
    flex-direction: column;
    .showRow {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .items {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
        padding: 12px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
    }
  }
}

.frameContainer {
  border: 1px green solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .showImg {
    width: 270px;
    height: 150px;
  }

}


.blankContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FA910B;
  .blankFrame {
    width: 270px;
    height: 150px;
    background-color: #E9E9E9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    .placer {
      width: 30%;
    }
    .postedImg {
      width: 100%;
      border-radius: 10px;
    }
  }
  .blankLabel {
    margin-top: 10px;
  }
}


.postedContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  .postedFrame {
    width: 270px;
    height: 150px;
    background-color: #E9E9E9;
    border-radius: 10px;
    display: flex;
    .postedImg {
      width: 100%;
      border-radius: 10px;
    }
  }
  .postedLabel {
    margin-top: 10px;
    color: #FA910B;
  }
}

// house create
.createContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  .createTitle {
    margin: 6% auto 6% 20%;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  .createBox {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
  }
  .frames {
    display: flex;
    padding-left: 37%;
    height: 280px;
    border: 1px dashed #979797;
    box-sizing: border-box;
    border-radius: 10px;
    // position: absolute;
    .imgAttached {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    .upload {

    }
    .fileUpload {
        // border: 1px solid red;
        width: 10%;
        // height: 100px;
        display: inline-block;
        overflow: hidden;
        opacity: 0;
        position: relative;
        z-index: 1;
    }
  }
  .helpContainer {
    display: flex;
    align-items: baseline;
    .help {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .inputRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    .inputItem {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
  }
}

.selectInput {
  height: 55px;
  border-radius: 5px;
  border: 1px solid #979797;
}

.radioInput-right {
  margin-left: 30%;
}

.inputLabel {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

.editContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  .editTitle {
    margin: 6% auto 6% 20%;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  .editBox {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
  }
  .helpContainer {
    display: flex;
    align-items: baseline;
    .help {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
  .frames {
    display: flex;
    height: 280px;
    border: 1px dashed #979797;
    box-sizing: border-box;
    border-radius: 10px;
    .imgAttached {
      height: 100%;
      width: 100%;
      cursor: pointer;
      border-radius: 10px;
    }
    .fileUpload {
      // border: 1px solid red;
      width: 10%;
      // height: 100px;
      display: inline-block;
      overflow: hidden;
      opacity: 0;
      position: relative;
      z-index: 1;
    }
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .inputRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    .inputItem {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
  }
}
