.container {
  min-height: 50vh;
  padding-left: 0;
  padding-right: 0;
}

h2 {
  font-stretch: extra-expanded;
}

.top {
  text-align: justify;
  font-size: 3.8vw;
}

.top:after {
  display: inline-block;
  width: 100%;
  font-weight: 600;
}
