$el-green: #139929;
$el-black: #333;
$el-white: #fff;

.custom {
  background-color: $el-green;
  padding: 0.455rem 0.75rem;
}

.disabled {
  opacity: 1 !important;
  background-color: $el-white !important;
  color: $el-black !important;
  cursor: default !important;
}

.disabled:hover {
  background-color: $el-white;
  color: $el-black;
  cursor: default;
}
