.loginContainer, .registerContainer {
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  .formContainer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    .loginInput {
      margin-bottom: 25px;
    }
  }
}

#registerBox {
  background-color: #E9E9E9;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
