/* color palette */
/* green :  #139929 */

/* input */
input {
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 17px;
  font-size: 16px;
}
/* button */

* {
  font-family: 'Mulish', sans-serif;
}

.btn {
  border: 1px solid
},

.frames {
  border: 1px solid;
  height: 200px;
  width: 200px;
}


.no_posting {
  border: 1px solid;
  height: 200px;
  width: 200px;
  background-color: grey;
}

.items {
  width: 230px;
  height: auto;
  padding: 15px;
  border: 1px solid
}

.row_mycasa_dashboard {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}

.col {
  border: 1px solid;
  width: 100%;
}

.smtitle {
  font-size: 30;
  font-weight: bold;
}
